.banner{
    width: 100%;
    position: relative ;
    left: 60px;
}
.info-bg{
background:green; 
height:250px; 
width:70%;
position: relative ;
left: 150px;
margin: 10px;
border-radius: 7px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.teamInfo{
    color: white;
    margin: 10px;
    width: 40%;
}
.genderPhoto{
    width: 40%;
    position: relative;
}

.genderPhoto img {
    width: 90%;
    height: 230px;
    left: 50px;
    margin: 10px;
    
}
.info-text{
    margin: 20px 160px;
}